.plugin.substitutions {

    .substitutions-list {
        &.new {
            display: flex;
            flex-direction: column-reverse;
        }

        .substitution-record {
            border: none;
            padding: .33em 0;

            &:not(.filled-substitution) .setting-item-control > .hide-if-empty {
                visibility: hidden;
            }
        }
    }

    .substitution-record {

        .setting-item-info {
            display: none;
            flex-grow: 0;
            margin: 0;
        }

        .setting-item-control {
            flex-grow: 1;
            text-align: left;

            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }

    }

}
