.plugin.substitutions {

    .swap-definition-list {
        display: flex;
        flex-direction: column-reverse;

        .user-swap-definition {
            border: none;
            padding: .33em 0;

            &:not(.just-filled) .setting-item-control > .hide-if-empty {
                visibility: hidden;
            }
        }

        .search-hidden {
            display: none;
        }
    }

    .user-swap-definition {

        .setting-item-info {
            display: none;
            flex-grow: 0;
            margin: 0;
        }

        .setting-item-control {
            flex-grow: 1;
            text-align: left;

            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            &.regex-enabled input[type="text"] {
                font-family: monospace;
            }
        }

        input.invalid {
            border-color: var(--background-modifier-error);
        }

    }

}
